<!DOCTYPE html>

<html>

<head>
<title>InsightDash</title>
<link rel='stylesheet' href='/styles.css'>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
</head>

<body>
    <% function truncateMessage(message, maxLength) { %>
        <% if (message.length > maxLength) { %>
            <%= message.substring(0, maxLength) + '...' %>
        <% } else { %>
            <%= message %>
        <% } %>
    <% } %>

    <div class='navbar'>
        
        <a class = 'smallatag' href = '/sensorview'>
            <img href = 'sensorDash.ejs' src='images/logo.png' id='logopic'>
        </a>
        <button id = 'sensorviewbutton' class = 'navbuttons'>View Sensors</a>
        <button id='createthreshold_button' class = 'navbuttons'>Manage Alerts</button>
        <button id = 'helpbutton' class = 'navbuttons'>Help</button>
        <button id = 'logoutbutton' class = 'navbuttons'>Logout</button>
    </div>

    <div class='alertheader'>
        <h1 class='text' id='sensorlistmessage'>Your Alerts:</h1>
        <button id='createAlertButton' class='navbuttons'>Create New Alert</button>
    </div>
    <div class = 'innerlistview'>
        <% alerts.forEach(function(alert) { %>
            <div class='listAlertRows' data-alert-id="<%= alert.alert_id %>">
                <h1 class='alertRowEntryData' id = 'alerticon'>📢</h1>
                <h1 class='alertRowEntryData' id = 'firstalertentry'><%= alert.sensor_name %></h1>
                <h1 class='alertRowEntryData'><%=alert.alertName.charAt(0).toUpperCase() + alert.alertName.slice(1)%></h1>
                <h1 class='alertRowEntryData' id = 'conditionalertentry'>
                    <%= alert.data_type.charAt(0).toUpperCase() + alert.data_type.slice(1) %> 
                    <%= alert.alertCondition === 'less_than' ? '<' : '>' %> 
                    <%= alert.threshold_value %>
                </h1>
                <h1 class='alertRowEntryData'><%= alert.phone_number %></h1>
                <h1 class='alertRowEntryData' id = 'messagerow'><%= truncateMessage(alert.alertMessage, 30) %></h1>
                <img src='images/deleteBin.png' class='deleteIcon' alt='Delete Alert' id = 'deleteAlert'>
            </div>
        <% }); %>

            <div class= 'whiteline'></div>
           


    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {


        const logoutButton = document.getElementById('logoutbutton');
        const sensorViewButton = document.getElementById('sensorviewbutton');
        const alertViewButton = document.getElementById('createthreshold_button');
        const createAlertButton = document.getElementById('createAlertButton');
        logoutButton.addEventListener('click', function() {
            window.location.href = '/logout';
        });

        alertViewButton.addEventListener('click', function() {
            window.location.href = '/alertView';
        });

        sensorViewButton.addEventListener('click', function() {
             window.location.href = '/sensorview';
        });

        document.querySelectorAll('.deleteIcon').forEach(function(deleteIcon) {
            deleteIcon.addEventListener('click', function() {
                const alertRow = this.closest('.listAlertRows');
                const alertId = alertRow.getAttribute('data-alert-id');
                console.log('Alert ID:', alertId); 

                Swal.fire({
                    title: 'Are you sure?',
                    text: 'Do you want to delete this alert?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, keep it'
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch(`/delete-alert/${alertId}`, {
                            method: 'DELETE'
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                Swal.fire('Deleted!', 'Your alert has been deleted.', 'success')
                                .then(() => {
                                    location.reload();
                                });
                            } else {
                                Swal.fire('Error!', 'There was a problem deleting your alert.', 'error');
                            }
                        });
                    }
                });
            });
        });

        createAlertButton.addEventListener('click', async function() {
      // Fetch the list of sensors
      const response = await fetch('/sensors');
      const sensors = await response.json();

      // Build the sensor options HTML
      const sensorOptions = sensors.map(sensor => `<option value="${sensor.sensor_id}">${sensor.sensor_name}</option>`).join('');

      Swal.fire({
        title: 'Create New Alert',
        html: `
          <div>
            <label for="sensorSelect">Sensor:</label>
            <select id="sensorSelect" class="swal2-input">
              ${sensorOptions}
            </select>
          </div>
          <div>
            <label for="dataType">Data Type:</label>
            <select id="dataType" class="swal2-input">
              <option value="temperature">Temperature</option>
              <option value="humidity">Humidity</option>
              <option value="light">Light</option>
            </select>
          </div>
          <div>
            <label for="alertCondition">Condition:</label>
            <select id="alertCondition" class="swal2-input">
              <option value="less_than">Less Than</option>
              <option value="greater_than">Greater Than</option>
            </select>
          </div>
          <div>
            <label for="thresholdValue">Threshold Value:</label>
            <input type="number" id="thresholdValue" class="swal2-input" placeholder="Enter threshold value">
          </div>
          <div>
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" class="swal2-input" placeholder="Enter phone number">
          </div>
          <div>
            <label for="alertMessage">Alert Message:</label>
            <input type="text" id="alertMessage" class="swal2-input" placeholder="Enter alert message">
          </div>
        `,
        focusConfirm: false,
        preConfirm: () => {
          const sensorId = Swal.getPopup().querySelector('#sensorSelect').value;
          const dataType = Swal.getPopup().querySelector('#dataType').value;
          const alertCondition = Swal.getPopup().querySelector('#alertCondition').value;
          const thresholdValue = Swal.getPopup().querySelector('#thresholdValue').value;
          const phoneNumber = Swal.getPopup().querySelector('#phoneNumber').value;
          const alertMessage = Swal.getPopup().querySelector('#alertMessage').value;
          return { sensorId, dataType, alertCondition, thresholdValue, phoneNumber, alertMessage };
        },
        showCancelButton: true,
        confirmButtonText: 'Create Alert'
      }).then((result) => {
        if (result.isConfirmed) {
          const alertData = result.value;
          fetch('/create-alert', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(alertData)
          })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              Swal.fire('Success!', 'Your alert has been created.', 'success')
              .then(() => {
                location.reload();
              });
            } else {
              Swal.fire('Error!', 'There was a problem creating your alert.', 'error');
            }
          });
        }
      });
    });


    });
    </script>
</body>
</html>
