<!DOCTYPE html>
<html>
<head>
    <title>InsightDash</title>
    <link rel='stylesheet' href='/styles.css'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class='navbar'>
        <a class='smallatag' href='/sensorview'>
            <img href='sensorDash.ejs' src='images/logo.png' id='logopic'>
        </a>
        <button id='sensorviewbutton' class='navbuttons'>View Sensors</button>
        <button id='createthreshold_button' class='navbuttons'>Manage Alerts</button>
        <button id='helpbutton' class='navbuttons'>Help</button>
        <button id='logoutbutton' class='navbuttons'>Logout</button>
    </div>

    <h1 class='text' id='sensorlistmessage'>Your Sensors:</h1>
    <div class='innerlistview'>
        <% sensors.forEach(function(sensor) { %>
        <div class='listrowentry' data-sensor-id="<%= sensor.sid %>">
            <a href="/sensorDash?sensorId=<%= sensor.sid %>">
                <h1 class='rowicon'>ðŸ“ˆ</h1>
                <h1 class='rowentrydata'><%= sensor.sname %></h1>
                <h1 class='rowentrydata'><%= sensor.stype %></h1>
                <h1 class='rowentrydata' id="reading-<%= sensor.sid %>">Loading...</h1>
            </a>
        </div>
        <% }); %>
        <div class='whiteline'></div>
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const sensorViewButton = document.getElementById('sensorviewbutton');
        const alertViewButton = document.getElementById('createthreshold_button');
        const logoutButton = document.getElementById('logoutbutton');
        
        sensorViewButton.addEventListener('click', function() {
            window.location.href = '/sensorview';
        });
        
        alertViewButton.addEventListener('click', function() {
            window.location.href = '/alertView';
        });
        
        logoutButton.addEventListener('click', function() {
            window.location.href = '/logout';
        });
        
        const fetchLatestReadings = () => {
            fetch('/latest-readings')
                .then(response => response.json())
                .then(data => {
                    data.forEach(reading => {
                        const readingElement = document.getElementById(`reading-${reading.sensor_id}`);
                        if (readingElement) {
                            readingElement.textContent = `ðŸŒ¡ï¸ - ${reading.temperature.toFixed(2)} Â°C ðŸ’§ -  ${reading.humidity.toFixed(2)} %  ðŸ’¡ -  ${reading.light.toFixed(2)} lx`;
                        }
                    });
                })
                .catch(error => console.error('Error fetching latest readings:', error));
        };

        // Fetch the latest readings immediately and then every 10 seconds
        fetchLatestReadings();
        setInterval(fetchLatestReadings, 10000);
    });
    </script>
</body>
</html>
